<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>信息管理系统界面</title>
    <link href="__CSS__/style.css" rel="stylesheet" type="text/css" />
    <script language="JavaScript" src="__JS__/jquery.js"></script>
    <script type="text/javascript">
        $(function(){
            //顶部导航切换
            $(".nav li a").click(function(){
                $(".nav li a.selected").removeClass("selected")
                $(this).addClass("selected");
            })
        })



        $(function(){
            //导航切换
            $(".menuson .header").click(function(){
                var $parent = $(this).parent();
                $(".menuson>li.active").not($parent).removeClass("active open").find('.sub-menus').hide();

                $parent.addClass("active");
                if(!!$(this).next('.sub-menus').size()){
                    if($parent.hasClass("open")){
                        $parent.removeClass("open").find('.sub-menus').hide();
                    }else{
                        $parent.addClass("open").find('.sub-menus').show();
                    }
                }
            });

            // 三级菜单点击
            $('.sub-menus li').click(function(e) {
                $(".sub-menus li.active").removeClass("active")
                $(this).addClass("active");
            });

            $('.title').click(function(){
                var $ul = $(this).next('ul');
                $('dd').find('.menuson').slideUp();
                if($ul.is(':visible')){
                    $(this).next('.menuson').slideUp();
                }else{
                    $(this).next('.menuson').slideDown();
                }
            });
        })
    </script>
    <style type="text/css">
        body{
            margin:0px;
            padding:0px;
            text-align:center;
            background:#e9fbff;
        }
        #container{
            position:relative;
            margin:0 auto;
            padding:0px;
            width:1200px;
            text-align:left;
        }
    </style>
</head>
<body>
    <div id="container">
        <div id="top" class="toptop">
            <div class="topleft" style="color:#fff;">
                项目推荐管理系统
            </div>

            <ul class="nav">
                <!--li><a href="default.html" target="rightFrame" class="selected"><img src="__IMG__/icon01.png" title="工作台" /><h2>工作台</h2></a></li>
                <li><a href="imgtable.html" target="rightFrame"><img src="__IMG__/icon02.png" title="模型管理" /><h2>模型管理</h2></a></li>
                <li><a href="imglist.html"  target="rightFrame"><img src="__IMG__/icon03.png" title="模块设计" /><h2>模块设计</h2></a></li>
                <li><a href="tools.html"  target="rightFrame"><img src="__IMG__/icon04.png" title="常用工具" /><h2>常用工具</h2></a></li>
                <li><a href="computer.html" target="rightFrame"><img src="__IMG__/icon05.png" title="文件管理" /><h2>文件管理</h2></a></li>
                <li><a href="tab.html"  target="rightFrame"><img src="__IMG__/icon06.png" title="系统设置" /><h2>系统设置</h2></a></li-->
            </ul>

            <div class="topright">
                <ul>
                    <li><span><img src="__IMG__/help.png" title="帮助"  class="helpimg"/></span><a href="javascript:void(0);">帮助</a></li>
                    <!--li><a href="#">关于</a></li-->
                    <li><a href="{:U('Index/userLogout')}" target="_parent">退出</a></li>
                </ul>

                <div class="user">
                    <span>您好,{:session('username')}</span>
                    <!--i>消息</i>
                    <b>5</b-->
                </div>

            </div>
        </div>
        <div id="bottom">
            <div id="left" style="float:left; width:187px;">
                <div class="lefttop"><span></span>管理菜单</div>

                <dl class="leftmenu">
                    <?php $menuList = C('MENU_LIST');?>
                    <volist name="menuList" id="vo" key="k">
                        <dd>
                            <div class="title">
                                <span><img src="__IMG__/leftico0{$k}.png" /></span>{$vo.menuName}
                            </div>
                            <ul class="menuson" <if condition="strtolower(CONTROLLER_NAME) eq $vo['controllerName']" >class="currentMenu" </if> >
                                <volist name="vo['subMenu']" id="voo">
                                    <li <if condition="strtolower(CONTROLLER_NAME) eq $voo['controllerName']" >class="active" </if> ><cite></cite><a href="{:U($voo['url'])}">{$voo.menuName}</a><i></i></li>
                                </volist>
                            </ul>
                        </dd>
                    </volist>
                </dl>
            </div>
            <div id="right" style="float:left; width:1013px;">
            <block name="right">right</block>
            </div>
        </div>
        <div id="footer" class="footer">
            <span>如有疑问,请联系作者.E-mail:simpman@163.com</span>
            <i>版权所有 2016</i>
        </div>
    </div>
</body>
</html>